/* Layout */
.sidebar {
  width: 310px;
  height: 100vh;
  background-color: var(--black);
  color: var(--white);
  padding: 20px;
  box-sizing: border-box;
  position: fixed;
  left: 0;
  top: 0;
  border-right: 2px solid var(--white);
}

.sidebar p {
  text-align: justify;
}

.main {
  margin-left: 310px;
  padding: 20px;
  background-color: var(--black);
  color: var(--white);
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 40px);
}

/* Footer */
footer {
  text-align: center;
  padding: 20px 0 0 0;
  margin-top: auto;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--black);
  color: var(--white);
}

.line {
  flex: 1;
  height: 2px;
  background: var(--white);
}

.gb {
  margin: 0 10px;
  font-size: 24px;
}

/* Mobile Layout */
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: static;
    border-right: none;
  }

  .main {
    margin-left: 0;
    padding-top: 0;
    min-height: auto;
  }

  footer {
    left: 0;
    margin-top: 20px;
  }
}